{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather app</title>
  <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>
  <div class="card">
    <div class="search">
      <input type="text" class="search-bar" placeholder="enter city name" spellcheck="false">
      <button><img src="{% static 'images/search.png' %}" alt=""></button>
    </div>

    <div class="error">
      <p>Invalid city name</p>
    </div>

    <div class="weather">
      <img src="{% static 'images/default.png' %}" class="weather-icon" alt="">
      <h1 class="temp">22°C</h1>
      <h2 class="city"></h2>
      <div class="details">
        <div class="col">
          <img src="{% static 'images/humidity.png' %}" alt="" class="detail-icon">
          <div>
            <p class="humidity">50%</p>
            <p>humidity</p>
          </div>
        </div>
        <div class="col">
          <img src="{% static 'images/wind.png' %}" alt="" class="detail-icon">
          <div>
            <p class="wind">15km/h</p>
            <p>wind speed</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script> const weatherIcons = { 
    Clouds: "{% static 'images/clouds.png' %}", 
    Clear: "{% static 'images/clear.png' %}", 
    Rain: "{% static 'images/rain.png' %}", 
    Snow: "{% static 'images/snow.png' %}", 
    Drizzle: "{% static 'images/drizzle.png' %}", 
    Mist: "{% static 'images/mist.png' %}" }; 
  </script>

  <script src="{% static 'JS/script.js' %}"></script>
</body>
</html>